/* styles.css */

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  header {
    width: 100%;
    font-weight: bolder;
    font-size: xx-large;
    background-color: #4285f4;
    color: white;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    top: 0;
  }
  
.bg-blue{
    background-color: #4285f4 !important;
    color: #f4f4f4 !important;
    border: #4285f4;
}

.blue{
    color: #4285f4 !important;
}
.h{
  width: 100%;
  height: 100vh;
  
}

